@import url(variables.css);

body {
    background-color: var(--color-grey-light);
}


li {
    background-color: var(--color-grey-dark);
    border-radius: 10px;
}

p {
    color: var(--color-black-dark);
}