/* ----------- FÄRGPALETT ----------- */

:root {
  --color-grey-dark: #E6E6E6;
  --color-grey-light: #F4F4F4;
  --color-purple-dark: #C49BFA;
  --color-purple-mid: #DAB5FF;
  --color-purple-light: #E7CFFF;
  --color-black-dark: #2B2B2B;
}

/* ----------- GLOBALT ----------- */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-grey-light);
  color: var(--color-black-dark);
}

a {
  text-decoration: none;
  color: var(--color-black-dark);
}

/* ----------- STARTSIDA ----------- */

/*Navigation cards*/

#nav-cards {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-dark) var(--color-grey-light);
}

#nav-cards h2 {
  font-size: 1.5rem;
}

.nav-card {
  margin-right: 20px;
  width: 250px;
}

.nav-card h3,
.nav-card p,
.nav-card a {
  font-size: 1rem;
}

.nav-card img {
  width: 250px;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border-radius: 25px;
}

.read-more {
  font-weight: bold;
  margin-bottom: 10px;
}

.read-more:hover {
  text-decoration: underline;
}

/* ----------- LÄRANDEMÅL ----------- */

/*Knappar*/
.learning-button {
  background-color: var(--color-purple-light);
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #cccccc70;
}

.learning-button.active {
  background-color: var(--color-purple-mid);
}

#learning-objectives div /*Centrera knapparna*/ {
  display: flex;
  justify-content: center;
}

/*Rubrik*/
.title-learning {
  text-align: center;
}

.title2-learning {
  display: none;
}

/*Innehåll*/
.box-learning {
  display: grid;
  grid-auto-flow: column;
  padding: 0 20px;
  gap: 20px;
  align-items: center;
  justify-self: center;
  justify-content: center;
  background-color: var(--color-grey-dark);
  border-radius: 25px;
  max-width: 500px;
  min-height: 100px;
  margin-bottom: 20px;
}

.box-description {
  font-size: 16px;
}

.number-circle {
  background-color: var(--color-purple-dark);
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 24px;
  color: var(--color-grey-light);
  margin: 0;
}

/*JS-komplettering*/
#skills,
#knowledge {
  display: none;
}

#skills.active,
#knowledge.active {
  display: block;
  margin-top: 30px;
}

/* ----------- KUNSKAPSKONTROLL ----------- */

/* ----------- BEDÖMNING ----------- */

/* ----------- PEDAGOGISKT STÖD ----------- */

/* ----------- RESPONSIVITET ----------- */

@media (min-width: 768px) {

  /*NAV-CARDS*/
  #nav-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: auto;
    overflow-x: hidden;
  }

  #card-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .nav-card {
    margin: 20px auto;
  }

  /*LÄRANDEMÅL*/
  /*Lägger färdigheter och kunskaper bredvid varandra på större skärmar*/
  #learning-objectives {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  justify-self: center;
  justify-content: center;
  gap: 20px;
  grid-template-areas:
  "title title"
  "skills knowledge"
  };

  /*Gömmer knapparna på större skärmar*/
  #learning-objectives div {
    display: none;
  }

  .learning-button,
  .learning-button.active {
    display: none;
  }

  .title-learning {
    grid-area: title;
  }

  #knowledge,
  #knowledge.active {
    display: block;
    grid-area: knowledge;
    margin-top: 0;
  }

  #skills,
  #skills.active {
    display: block;
    grid-area: skills;
    margin-top: 0;
  }

  .title2-learning {
    display: block;
    justify-self: center;
  }
}

@media (min-width: 1024px) {

  /*NAV-CARDS*/
  #nav-cards {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1300px;
    margin: auto;
    justify-content: center;
  }  
}